<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.countriesyouvisited"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity android:name="com.countriesyouvisited.loading.LogoEhrid" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.countriesyouvisited.loading.LogoApplication" />
        <activity android:name="com.countriesyouvisited.activities.MainActivity" />
        <activity
            android:name="com.countriesyouvisited.dialog.PlanDialog"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.countriesyouvisited.dialog.AddDialog"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.countriesyouvisited.dialog.RemoveDialog"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.countriesyouvisited.dialog.StatsDialog"
            android:theme="@style/transparentBackground" />
    </application>

</manifest>